.workline {
  position: relative;
}

.workline-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 1024px) {
  .workline-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .workline-cards {
    grid-template-columns: 1fr;
  }
}
